# Virtual Environments
venv/
mpcnn_env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# TensorBoard logs
logs/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

# Dataset (if local)
dataset/

# Trained models
*.h5
