# Virtual Environments
venv/
mp_env/
mpcnn_env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# TensorBoard logs
logs/

# Trained models
*.h5
*.keras

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Git metadata files
*.log

# Dataset (if stored locally)
dataset/